<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <title>添加用户</title>
    <style>
        .mydiv {
            text-align: center;
            margin: 30px auto 0;
        }
    </style>
</head>
<body>
<div class="mydiv">
    <form th:action="@{/user}" method="post" class="form-inline">
        <div class="form-group">
            <label for="name">姓名</label>
            <input type="text" class="form-control" id="name" placeholder="name" name="name">
        </div>
        <div class="form-group">
            <label for="money">余额</label>
            <input type="text" class="form-control" id="money" placeholder="money" name="money">
        </div>

        <button type="submit" class="btn btn-default">添加</button>

    </form>
</div>
</body>
</html>