<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户信息</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <style>
        div {
            width: 50%;
            text-align: center;
            margin: 30px auto 0;
        }

        .caption {
            text-align: center;

        }

    </style>
</head>
<body>
<div>
    <table id="dataTable" class="table table-condensed">
        <caption class="caption">用户信息</caption>
        <tr>
            <td>id</td>
            <td>姓名</td>
            <td>余额</td>
            <td>操作(<a th:href="@{/addUser}">添加</a>)</td>
        </tr>
        <tr th:each="user:${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.money}"></td>
            <td>
                <a @click="deleteUser" th:href="@{/user/}+${user.id}">删除</a>
                <a th:href="@{/user/}+${user.id}">更新</a>
            </td>
        </tr>
    </table>

    <form id="deleteForm" method="post">
        <input type="hidden" name="_method" value="delete">
    </form>
    <script th:src="@{/js/vue.js}"></script>
    <script>
        var vue = new Vue({
            el: "#dataTable",
            methods:{
                deleteUser:function (event){
                    let deleteForm = document.getElementById("deleteForm");
                    //将事件触发的超链接赋值给表单
                    deleteForm.action = event.target.href;
                    //提交表单
                    deleteForm.submit();
                    //取消超链接默认行为
                    event.preventDefault();
                }
            }
        });
    </script>
</div>
</body>
</html>